html,
body {
  margin: 0;
  padding: 0;
}

.map {
  width: 500px;
  height: 500px;
}

.row {
  display: flex;
  flex-direction: row;
  width: 5500px;
}

.sparse {
  justify-content: space-between;
}

.h-content {
  border: 1px solid black;
  background-color: #86b81b;
  display: block;
  height: 500px;
  width: 2000px;
  box-sizing: border-box;
}

.v-content {
  border: 1px solid black;
  background-color: salmon;
  display: block;
  height: 2000px;
  width: 500px;
  box-sizing: border-box;
}
